body {
    /* Top nav bar fixed */
    /*End*/
    background-color: #F5F5F5;
    min-width: 320px;
    padding-top: 75px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
}
.myNav {
    background-color: #FAFAFA;
    opacity: 1;
    z-index: 1;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    margin-top: -75px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
/* Navbar dropdown */

.dropbtn {
    background-color: orange;
    height: 50px;
    width: 50px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    opacity: 1;
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
/* End */

.currentPosition {
    background-color: white;
    float: right;
    height: 50px;
    width: 220px;
    padding-right: 10px;
}
.currentPosition p {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 15px;
    cursor: default;
}
h1 {
    margin-top: 0;
    font-size: 2.1em;
}
.myBrand {
    padding-top: 15px;
    display: inline-block;
    text-align: center;
    background-color: orange;
    height: 50px;
    width: 50px;
}
.myBrand:hover {
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
.topLine {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    height: 35px;
    background: #35879A;
}
hr {
    border-color: #35879A;
    margin-bottom: 10%;
    opacity: 0.5;
}
.secLeft {
    padding-top: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    background-color: #42A8C0;
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 3%;
}
span.glyphicon.glyphicon-save {
    display: inline-block;
    font-size: 2em;
    background-color: #35879A;
    height: 45px;
    width: 90%;
    padding-top: 9px;
    margin-bottom: 6%;
    cursor: pointer;
    opacity: 0.8;
}
.glyphicon.glyphicon-save:hover {
    opacity: 1;
}
.greetings {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}
li h2 {
    color: #235A67;
}
li:nth-child(even) {
    padding-bottom: 10px;
    padding-left: 20px;
}
li i {
    padding-right: 10px;
}
.lang {
    margin: 2%;
    display: inline-block;
    color: #35879A;
    width: 120px;
    font-weight: bold;
    margin-bottom: 6%;
    font-size: 1.2em;
}
.contactInf span {
    padding: 0;
    padding-right: 10px;
    font-size: 25px;
}
.contactInf {
    display: block;
    width: 100%;
}
div.contactInf h2 {
    font-size: 1.3em;
    text-align: left;
    color: #235A67;
}
.contactInform {
    padding-left: 5%;
}
.contactInform h2 {
    color: #235A67;
}
.hiddenH {
    display: none;
}
.down {
    margin-top: 8%;
    display: block;
}
div.contactInf p {
    width: 100%;
    text-align: left;
    background-color: #42A8C0;
    padding-bottom: 2%;
    padding-top: 0;
    text-indent: -5px;
}
.contactInform ul {
    text-align: left;
    list-style: none;
    padding: 0;
    padding-left: 5%;
}
ul + h2 {
    margin-top: 15%;
    color: #235A67;
}
.redLine {
    background-color: #94D7E6;
    padding: 0;
    margin: 0;
    height: 35px;
}
.mSquareR {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #35879A;
    float: right;
    padding-top: 10px;
}
.mSquareL {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #35879A;
}
h5 {
    font-size: 1.2em;
}
h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    text-align: right;
    color: #35879A;
}
h4 i {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
    color: #35879A;
}
.fa-paperclip {
    font-size: 1.2em;
}
.fa-bomb {
    font-size: 1.2em;
}
.fa-certificate {
    font-size: 1.2em;
}
p {
    background-color: white;
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10px;
    text-indent: 15px;
}
.downArrow {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    background-color: #94D7E6;
    width: 90%;
    height: 20px;
    text-align: center;
    opacity: 0.3;
}
.downArrow:hover {
    opacity: 1;
}
h2 {
    font-size: 1.6em;
}
h3 {
    display: inline-block;
    font-size: 1.8em;
    color: #FAFAFA;
    margin: 0;
    padding-top: 5px;
    padding-left: 45px;
}
i {
    color: #FAFAFA;
}
.social {
    display: inline-block;
    margin: 1%;
    margin-bottom: 6%;
    font-size: 30px;
    padding: 10px;
}
footer {
    display: block;
    text-align: center;
    background-color: #235A67;
    margin-top: 30px;
    width: 100%;
    height: 100px;
}
footer p {
    display: inline-block;
    padding-top: 40px;
    margin-right: -10px;
    color: white;
    background-color: #235A67;
}
#upArrow {
    position: static;
    padding-top: 25px;
    font-size: 2.5em;
    color: white;
    display: inline-block;
    margin-right: -15px;
    background-color: orange;
    width: 60px;
    height: 100%;
    float: right;
}
.currentPositionAngleRiht {
    float: right;
    color: orange;
    font-size: 20px;
}
#s1 {
    display: inline-block;
}
#s2 {
    display: none;
}
#s3 {
    display: none;
}
#s4 {
    display: none;
}
#s5 {
    display: none;
}
#s6 {
    display: none;
}
#s7 {
    display: none;
}

#upArrow:hover {
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
@media screen and (max-width: 375px) {
    #upArrow {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    #brNone {
        display: none;
    }
    #iNone {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    #brNone {
        display: none;
    }
    #iNone {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .contactInf {
        display: inline-block;
        width: 40%;
        margin: 2%;
    }
    .down {
        display: block;
        width: 100%;
        font-size: 1em;
    }
    .hiddenH {
        display: block;
    }
}
@media screen and (max-width: 561px) {
    .iconSize {
        display: none;
        width: 40%;
        margin: 2%;
    }
}
@media screen and (max-width: 420px) {
    .contactInf {
        display: block;
        width: 100%;
        margin: 2%;
    }
}
@media screen and (max-width: 420px) {
    .mSquareL h3 {
        font-size: 1.5em;
    }
    article h4 {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 370px) {
    .mSquareL h3 {
        margin-top: 5px;
        font-size: 1.2em;
    }
    article h4 {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 325px) {
    .mSquareL h3 {
        margin-top: 5px;
        font-size: 1.1em;
    }
    article h4 {
        font-size: 1em;
    }
}

p em {
    color: orange;
}
.console {
    color: white;
    -webkit-animation-name: console;
    animation-name: console;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/* The animation code */

/* Chrome, Safari, Opera */

@-webkit-keyframes console {
    from {
        color: white;
    }
    to {
        color: #42A8C0;
    }
}
/* Standard syntax */

@keyframes console {
    from {
        color: white;
    }
    to {
        color: #42A8C0;
    }
}
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 100%;
}
/*Restyle bootstrap css*/

/*End*/