/*body {
    font-family: ;
    margin: 0;
    padding: 0;
    background-color: #3F4F5E;
}
h1 {
    text-align: center;
    margin-top: 10%;
}
div {
    background-color: #FFFFFF;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 5px;
}
#getQuote {
    display: inline;
    float: right;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}
#postTwitter {
    display: inline;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}
#postTwitter img {
    width: 20px;
    height: 20px;
}
footer p {
    text-align: center;
    margin: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}*/

body {
    color: #FFFFFF;
    background-color: #669ACC;

}
h1 {
    font-size: 6em;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 10%;
}
img {
    margin: 2%;
    height: 150px;
    width: 150px;
}
#postTwitter {
    cursor: pointer;
}
.quoteContainer {
    min-height: 150px;
    font-size: 2em;
    border-right-style: solid;
    border-width: 6px;
    padding-left: 20px;
}
#getQuote {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #669acc;
    background-color: #FFFFFF;
    font-size: 5em;
    cursor: pointer;
}

#mySpinner {
    margin-top: 5%;
    margin-left: 45%;
    text-align: center;
}

#quote-title {
    float: right;
} 

/*Test*/
#tw:hover {
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
